# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# virtual environments
.venv/
venv/
env/

logs/
Inference_UI/logs/
ModelTraining/logs/
out/

Inference_UI/models/
Inference_UI/data/
ModelTraining/data/

# OS
Thumbs.db
.DS_Store

#Editor
.vscode

